<app-header title="关于" returnButton="true" RouterLink="/"></app-header>

<div class="big-logo">
    <img src="assets/144x144.png">
</div>

<div class="version">
    <h4>祥瑞云易信 {{checkService.version}}</h4>
    <p>Client当前版本: <kbd>{{checkService.version}}</kbd></p>
    <p>Server当前版本: <kbd>{{serverversion}}</kbd></p>
    <p>上一次Git提交: <kbd>{{checkService.revision.substring(0, 7)}}</kbd></p>
    <p>编译时间: <kbd>{{checkService.buildTime}}</kbd></p>
</div>

<div class="menu-holder"></div>


<p class="notify">注意: 如果Client当前版本和Server当前版本不同, 请及时通过报告BUG反馈我, 但是, 您也应该检查是否访问的是我的主站, 请一定不要使用镜像站, 镜像站不会及时更新, 导致版本不统一. 可能一些巨大的问题修复后导致API变动，致使旧版本的客户端无法使用!</p>
<div class="foot-text">
    <p>Copyright &copy; 2019 祥瑞云 Corporation</p>
</div>
